<div class="container">
    <h3>Quotation > QuotationDetail</h3>
    <div class="formcontainer">
        <div class="row">
            <div class="col-sm-7">
                <h2>Quotation</h2>
            </div>
            <div class="col-sm-1">
                <button class="cancel-button">Edit</button>
            </div>
            <div class="col-sm-2">
                <button class="cancel-button">Convert to Order</button>
            </div>
            <div class="col-sm-2">
                <button class="save-button">Send for Review</button>
            </div>
        </div>
        <div class="row" style="border-style: solid;border-radius: 5px;border-color: lightgray;padding: 5px;">
            <div class="col-sm-10">
                <table>
                    <tr>
                        <th>Sender</th>
                        <th>Buyer</th>
                        <td>Buyer`s Order No.</td>
                        <td>Dated</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="no-box-input" placeholder="Sender Company Name"> </td>
                        <td><input type="text" class="no-box-input" placeholder="Buyer Company Name"> </td>
                        <td><input type="text" class="no-box-input" placeholder="Buyer`s Order Number"> </td>
                        <td><input type="date" class="no-box-input" placeholder="Date"> </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="no-box-input" placeholder="Sender Company Address"> </td>
                        <td><input type="text" class="no-box-input" placeholder="Buyer Company Address"> </td>
                        <td>Dispatch Documentation No</td>
                        <td>Delivery Note Date</td>
                    </tr>
                    <tr>
                        <td>GSTIN/UIN:<input type="text" class="no-box-input" placeholder="GSTIN/UIN"></td>
                        <td><input type="text" class="no-box-input" placeholder="City,Country"></td>
                        <td><input type="text" class="no-box-input" placeholder="Dispatch Documentation No"></td>
                        <td><input type="date" class="no-box-input" placeholder="Delivery Note Date"></td>
                    </tr>
                    <tr>
                        <td>CIN:<input type="text" class="no-box-input" placeholder="CIN"> </td>
                        <td>Tele:<input type="number" class="no-box-input" placeholder="Tele"> </td>
                        <td>Dispatch Documentation No</td>
                        <td>Destination</td>
                    </tr>
                    <tr>
                        <td>Email:<input type="text" class="no-box-input" placeholder="Email"></td>
                        <td>Email:<input type="text" class="no-box-input" placeholder="Email"></td>
                        <td><input type="text" class="no-box-input" placeholder="Dispatch Through"></td>
                        <td><input type="text" class="no-box-input" placeholder="Destination"></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-2" style="padding: 8px;">
                <mat-card>
                    <button class="no-box-input" style="text-align:right;"><mat-icon>download</mat-icon></button>
                    <img src="../../assets/pdf-icon.png" style="height: 100%; width: 100%; padding: 10px;">
                </mat-card>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>Item Listing</h2>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <input type="search" class="form-control" name="" id="" placeholder="Enter Chemical/Brand...">
                    </div>
                    <div class="col-sm-3">
                        <button class="cancel-button">Add New Item +</button>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>

    </div>
</div>