<div fxLayout="column" fxLayoutGap="20px" class="dashboard-container" style="background-color: white;">
  <h1>Dashboard</h1>
  <!-- First Row -->
  <div fxLayout="row" fxLayoutGap="7px">
    <div fxFlex="25%">
      <mat-card class="chart-card firstrow">
        <mat-card-header>
          <mat-card-title class="firstrowtitle">
            <span>Total Orders Value</span>
          </mat-card-title>
          <mat-icon class="icon-top-right">dashboard</mat-icon> 
        </mat-card-header>
        <mat-card-content>
          <p class="pc1">Rs 1.52Cr</p>
          <p style="color: grey;">Last Year <span class="pc2">1.4 Cr</span></p>
          <p class="pc3"> 12%</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="15%">
      <mat-card class="chart-card firstrow">
        <mat-card-header>
          <mat-card-title class="firstrowtitle">Total Orders</mat-card-title>
          <mat-icon class="icon-top-right">dashboard</mat-icon> 
        </mat-card-header>
        <mat-card-content>
          <p class="pc1">5673</p>
          <p style="color: grey;">Last Year <span class="pc2">1.4 Cr</span></p>
          <p class="pc3"> 12%</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="10%">
      <mat-card class="chart-card firstrow">
        <mat-card-content>
          <p style="font-size: 10px!important;color:black;text-decoration: underline;">Under Review
          <span style="text-decoration: none!important;">1324</span></p>
          <p style="font-size: 10px!important;color:black;text-decoration: underline;">Approved
          <span style="text-decoration: none!important;">5353</span></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="15%">
      <mat-card class="chart-card firstrow">
        <mat-card-header>
          <mat-card-title class="firstrowtitle">Total Quotations</mat-card-title>
          <mat-icon class="icon-top-right">dashboard</mat-icon> 
        </mat-card-header>
        <mat-card-content>
          <p class="pc1">1578</p>
          <p style="color: grey;">Last Year <span class="pc2">1.4 Cr</span></p>
          <p class="pc3"> 12%</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="10%">
      <mat-card class="chart-card firstrow">
        <mat-card-content>
          <p style="font-size: 10px!important;color:black;text-decoration: underline;">
            Under Review
            <span style="text-decoration: none!important;">1324</span>
          </p>
          <p style="font-size: 10px!important;color:black;text-decoration: underline;">
            Approved
            <span style="text-decoration: none!important;">5353</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card class="chart-card firstrow">
        <mat-card-header>
          <mat-card-title class="firstrowtitle">Total Companies</mat-card-title>
          <mat-icon class="icon-top-right">dashboard</mat-icon> 
        </mat-card-header>
        <mat-card-content>
          <p class="pc1">1267</p>
          <p style="color: grey;">Last Year <span class="pc2">1.4 Cr</span></p>
          <p class="pc3"> 12%</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Second Row -->
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="55%">
      <mat-card class="chart-card large-card">
        <mat-card-header>
          <mat-card-title>Orders</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Content for Card 4 -->
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="45%">
      <mat-card class="chart-card large-card">
        <mat-card-header>
          <mat-card-title>Quotation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Content for Card 5 -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Third Row -->
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50%">
      <mat-card class="chart-card large-card">
        <mat-card-header>
          <mat-card-title>Card 6</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Content for Card 6 -->
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%">
      <mat-card class="chart-card large-card">
        <mat-card-header>
          <mat-card-title>Card 7</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Content for Card 7 -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>