/* table.component.css */

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
    border: 2px solid black;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
}

.table thead th {
    background-color:lightgrey;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}