.cancel-button2 {
    color: #00C4B9;
    background-color: white;
    border: none;
    cursor: pointer;
}

th {
    text-align: left;
}

label,
input {
    padding-right: 00%;

}

.formcontainer {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}

mat-card{
    padding-bottom: 10px;
}

table{
    font-size: small;
}

input{
    font-size: small;
}
