.formcontainer {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    font-size: 11px;
}

.save-button {
    margin-left: 3px;
    background-color: #00C4B9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    color: #00C4B9;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid #00C4B9;
    cursor: pointer;
}

.no-box-input {
    border: none;
    /* Removes the border */
    outline: none;
    /* Removes the focus outline */
    background-color: transparent;
    /* Makes the background transparent */
}

table th,
table td {
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
}

table{
    width: 100%;
}

.form-control::placeholder {
    font-size: 12px; /* Set the font size as per your requirement */
  }