.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:sans-serif;
    background-color: #E5FAF8;
}

.login-card {
    width: 350px;
    max-width: 90%;
    background-color: white;
    border-radius: 6%;
}

.full-width {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-button {
    margin-top: 20px;
    background-color: #00C4B9!important;
}

.header{
    justify-content: center;
}

.bold{
    justify-content:bold;
}

.form-control{
 width: 100%;
}

.matlabel{
    font-size: 11px;

}